.ivp-share-bar{
    margin-bottom: 1em;
    padding: .8em 0;
}

.ivp_share-btn{;
    display: inline-block;
    font-size: 1.6em;   
    line-height: 1em;
    text-decoration: none;
}

.ivp_share-btn:hover span{
    opacity: .9;
}

.ivp_facebook-btn span{
    color: #3b5999;
}
.ivp_twitter-btn span{
    color: #00acee;
}
.ivp_googleplus-btn span{
    color: #dd4b39;
}

.ivp_pinterest-btn span{
    color: #c8232c;
}