.site-nav ul{
	list-style:none;
	margin: 0;
	padding: 0;
}

.site-nav a{
	display: block;
	white-space:nowrap;
}

.site-nav a:hover{
	text-decoration: underline;
}

#menu-all-pages > li {
	display: inline-block;
	margin-right: 1em;
}

.site-nav li{
	position: relative
}

.site-nav li ul{
	background: #fff;
	box-shadow:0 2px 1px rgba(0,0,0,.2);
	display: none;
	position: absolute;
}

.site-nav li ul{
	top:100%;
}

.site-nav li ul ul{
	top:0;
	left:100%;
}

.site-nav li:hover > ul,
.site-nav ul:hover{
	display: block;
}